body {
    font-size: 10px;
    line-height: 1.5;
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: 'Exo', sans-serif;
}

header {
    background-color: #cdaf95;
    height: 80px; 
   
}
footer {
    background-color:  #cdaf95;
    text-align: center;
    height: 60px; 
   
h1 {
    padding-top: 15px;
    padding-left: 250px;
    font-family: 'Raleway', sans-serif
    }
img {
    width: 200px;
    height: 20px;
    }

h2 {
    padding-left: 15px; 
    margin-top: -120px;
    margin-bottom: -10px;
}
ul {
    padding-left: 20px;    
}

#info {
    font-size: 0.75em;
    padding-top: 10px;
  }