body{
	font-family: 'Raleway', sans-serif;	
	background-color: #71b1ee;
}

main {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
	color: #e7e5ee;
	font-size: 2.5em;	
}

img {
	border: 3px solid #e7e5ee;
	padding: 2px;
	filter: blur(0em);
	transition: filter 2s;	
}

img[data-src] {
    filter: blur(0.2em)
}




