body {
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color: #cdaf95;
    height: 80px; 
    border-radius: 10px 10px 10px 10px;   
}
footer {
    background-color:  #cdaf95;
    text-align: center;
}
h1 {
    padding-top: 15px;
    padding-left: 150px;
}
img {
    display: block;
    margin-left: 615px;
    margin-right: auto; 
    margin-top: -70px;
    box-shadow: 2px 6px 12px #8b8989; 
    border: 2px solid #cdaf95;
    border-radius: 0px 10px 0px 0px;
}
   
