body {
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color: #cdaf95
    height: 80px;    
}
footer {
    background-color:  #cdaf95
    text-align: center;
}
h1 {
    padding-top: 15px;
    padding-left: 150px;
}
img {
    padding-left: 150px; 
}
   
