@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
	font-size: 24px;
	font-family: 'Exo', sans-serif;
	background-color: #c9cba3;
}

/* phone or baseline views **************************/
header {
	display:flex;
    justify-content:center;
    background-color:#15109A;
    color:#c4f0ff;
    padding:10px;
}


footer {
	background-color: #ffe1a8;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 4rem;
	text-align: center;
	color: #472d30;
	font-family: 'Raleway', sans-serif
}
h2 {
	margin-left: 70px;
	text-align: center;
	color: #472d30;
	font-size: 3rem;
	font-family: 'Raleway', sans-serif
}

h3 {
	font-size: 2rem;
	text-align: center;
	color: #472d30;
	font-family: 'Raleway', sans-serif
}

p {
	text-align: center;
}
.color-scheme {
	margin-left: 150px;
	border: 5px solid white;
}

nav {
	background-color: #e26d5c;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #723d46;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color:#723d46;
	color: white;
}
.active {
	color:#ffe1a8;
}

main article {
	margin: 0.5rem;	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	text-align: center;
    height: 60px; 
}